<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12" formArrayName="phoneNos">
          <div class="row" style="margin-top: 10px;" *ngFor="let phoneCntrl of controls; let i = index" [formGroupName]="i">
            <div class="col-xs-10">
              <input type="text" class="form-control" formControlName="phoneNumber">
            </div>
            <div class="col-xs-2">
              <button *ngIf="phoneNos.length>1" class="btn btn-danger" type="button" (click)="onDeletePhoneNumber(i)">X</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;">
        <button class="btn btn-success" type="button" (click)="onAddPhoneNo()">Add another phone number</button>
      </div>
      <div class="row" style="margin-top: 10px;">
        <button class="btn btn-success" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>