#container {
    position: relative;
    height: 600px;
}

#container div {
    position: absolute;
    width: 200px;
    height: 200px;
}

.top {
    top: 0;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

.bottom {
    bottom: 0;
}

.center {
    position: absolute;
    left: 45%;
    top: 50%;
    right: 50%;
    bottom: 50%;
}